@model CompleteClinic

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
    <title>Najdi doktora👨‍⚕️</title>
</head>

<body class="overrideBody">
<div class="fakeNavbar">Najdi doktora</div>
<div class="main-view">
    <div class="main-heading">
        <h2>@Model.Name</h2>
    </div>
    <div class="parts">
        <div class="left-side">
            <div class="item">
                <div class="content">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>@Model.FormattedAddress</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <i class="fa-solid fa-globe"></i>
                    <p>@Model.Website</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <i class="fa-solid fa-phone"></i>
                    <p>@Model.FormattedPhoneNumber</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <i class="fa-regular fa-clock"></i>
                    <p>@open(Model.Status)</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <i class="fa-regular fa-building"></i>
                    <p>@Model.Name</p>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <i class="fa-solid fa-star"></i>
                    <p>@Model.AverageRating / 5⭐</p>
                </div>
            </div>
        </div>
        <div class="right-side">
            <iframe style="width: 100%; height: 100%" src="@Model.EmbedLink"></iframe>
        </div>
    </div>
</div>
<div class="reviews">
    <div class="heading-review">
        <hr/>
        <h2>Hodnocení🌟</h2>
    </div>
    <div class="review-container">
        @if (Model.Reviews != null)
        {
            @foreach (var item in Model.Reviews)
            {
                <div class="review">
                    <div class="review-content">
                        <h3>@item.author_name<br /> @item.rating / 5⭐</h3>
                        <p>@item.text</p>
                    </div>
                </div>
            }
        }
            
    </div>
</div>
</body>

@{
    string open(string status)
    {
        string hotovo = "";
        if (status == "OPERATIONAL")
        {
            return hotovo = "Otevřeno";
        }
        else
        {
            return hotovo = "Zavřeno";
        }
    }
}

<script src="https://kit.fontawesome.com/b85629988f.js" crossorigin="anonymous"></script>