@using NajdiDoktoraApp.StaticData
@model SearchResults

@{
    Layout = null;
    int i = 0;
    string EvaluateField(string field)
    {
        return field == null || field == String.Empty ? "Neuvedeno" : field;
    }
}

<!DOCTYPE html>

<html>
<head>
    <title>Hledání</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="overrideBody">
<div class="fakeNavbar">Najdi doktora</div>
<!---->
<div>
    <form asp-action=Search class="searchPart">
        <input type="text" class="addressBar" rows="1" placeholder="Adresa"/> <!--add  asp-for-->
        <button type="button" class="blueButtonMap">
                <i class="fa-solid fa-location-dot"></i></button>
        <select class="typeBar" asp-for="Parameters.Type"><!--add  asp-for-->
            @foreach (var item in EnumMapper.ClinicTypeMap)
            {
                <option id="@item.Type" value="@item.Type">@item.ClinicName</option>
            }
        </select>
        <button type="submit" class="blueButtonSearch">Hledat</button>
    </form>
</div> 
<hr class="underline"/>
<div class="results">
    @for (i = 0; i < Model.Results.Length; i++)
    {
        <div class="individualResult">
            <div class="individualResultTitle">
                <form asp-action="DetailPreparation">
                    @Html.HiddenFor(m => m.Results[0].Name, Model.Results[i].Name)
                    @Html.HiddenFor(m => m.Results[0].Distance, Model.Results[i].Distance)
                    @Html.HiddenFor(m => m.Results[0].AverageRating, Model.Results[i].AverageRating)
                    @Html.HiddenFor(m => m.Results[0].EmbedLink, Model.Results[i].EmbedLink)
                    @Html.HiddenFor(m => m.Results[0].ReviewCount, Model.Results[i].ReviewCount)
                    @Html.HiddenFor(m => m.Results[0].Website, Model.Results[i].Website)
                    @Html.HiddenFor(m => m.Results[0].Status, Model.Results[i].Status)
                    @Html.HiddenFor(m => m.Results[0].FormattedAddress, Model.Results[i].FormattedAddress)
                    @Html.HiddenFor(m => m.Results[0].IsOpen, Model.Results[i].IsOpen)
                    @Html.HiddenFor(m => m.Results[0].FormattedPhoneNumber, Model.Results[i].FormattedPhoneNumber)
                    <button type="submit" class="unbutton"><a>@Model.Results[i].Name</a></button>
                </form>
                @if (Model.Results[i].Status == "OPERATIONAL")
                {
                    <a>Nyní otevřeno</a>
                }
                else
                {
                    <a>Nyní zavřeno</a>
                }
            </div>
            <div class="individualResultItems">
                <div class="individualResultText">
                    <div><i class="fa-solid fa-location-dot"></i><a>@EvaluateField(Model.Results[i].FormattedAddress)</a></div>
                    <div><i class="fa-solid fa-phone"></i><a>@EvaluateField(Model.Results[i].FormattedPhoneNumber)</a></div>
                    <div><i class="fa-solid fa-globe"></i><a href=@Model.Results[i].Website class="web-link">@EvaluateField(Model.Results[i].Website)</a></div>
                    <div><i class="fa-solid fa-magnifying-glass"></i><a>@EvaluateField(Model.Results[i].ReviewCount.ToString())</a></div>
                    <div><i class="fa-solid fa-star"></i><a>@EvaluateField(Model.Results[i].AverageRating.ToString("0.#"))</a></div>
                    <div><i class="fa-solid fa-map-location-dot"></i><a>@Model.Results[i].Distance.ToString("0.##") km</a></div>
                </div>
                <div class="individualResultMap">
                    <iframe src="@Model.Results[i].EmbedLink"></iframe>
                </div>
            </div>
        </div>
    }
</div>
</body>
</html>

<script src="https://kit.fontawesome.com/b85629988f.js" crossorigin="anonymous"></script>